.homes__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.home__image {  
    display: grid;
    place-items: center;
    padding: 2rem;
    margin-top: -4rem;
}

.home {
    background: rgb(30, 119, 124);
    border-radius: 2.2rem;
    border: 3px solid rgb(0, 0, 0);
    height: fit-content;
    transition: var(--transition);
}

.home:hover {
    background: rgb(3, 135, 158);
    border-color: rgb(3, 175, 143);
    border-radius: 2.2rem;
    box-shadow: 0 1rem 1rem black;
}

.home__head {
    background: rgb(51, 56, 52);
    padding: 2rem;
    border-radius: 2rem;
}

.home__list-icon {
    color: rgb(12, 207, 12);
}

.home__list {
    padding: 2rem;
}

.home__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}



/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
    .homes__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem
    }
    .home {
        height: auto;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 600px) {
    .homes__container {
        grid-template-columns: 1fr;
        gap: 1.5rem
    }
}