.home__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.home__info {
    background: rgb(5, 119, 69);
    padding: 1rem 1rem 0.4rem;
    text-align: center;
    font-weight: bold;
    margin: -1rem 3rem 1rem;
    border-radius: 2rem;
    line-height: 1.5rem;
}

.home {
    background: rgb(5, 119, 69);
    border: 3px solid rgb(0, 0, 0);
    height: auto;
    transition: var(--transition);
}

.home:hover {
    background: rgb(4, 59, 50);
    border-color: rgb(3, 175, 143);
    border-radius: 0 0 2.2rem 2.2rem;
    box-shadow: 0 1rem 1rem rgb(13, 159, 18);
}

.home__head {
    background: rgb(53, 175, 64);
    padding: 2rem;
    border: 3px solid;
    transition: var(--transition);
}

.home__head:hover {
    border-radius: 0 0 2.2rem 2.2rem;
    box-shadow: 0 1rem 1rem rgb(13, 159, 18);
}

.home__list-icon{
    color: rgb(12, 207, 12);
}

.home__list {
    padding: 2rem;
}

.home__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}



/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
    .home__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem
    }
    .home {
        height: auto;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 600px) {
    .home__container {
        grid-template-columns: 1fr;
        gap: 1.5rem
    }
    .home__list li{
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    .home__list {
        padding-bottom: 0;
    }
}