.header {
    display: grid;
    place-items: center;
    padding-bottom: 2rem;
    margin-top: -2.6rem;
}

.header__image {
    border: 6px solid white;
    width: 100vw;
    height: 45vh;
}

.button {
    padding: 1rem 0 0 0;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
    .header__image {
        width: 100vw;
        height: 30vh;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 600px) {
    .header__image {
        width: 100vw;
        height: 25vh;
    }
}