.personalTaxes__title {
    display: grid;
    place-items: center;
    background: rgb(53, 175, 64);
    padding: 1rem;
    border: 3px solid black;
}

.personalTaxes__container {
    display: grid;
    grid-template-columns: 1fr;
}

.personalTaxes {
    background: rgb(5, 119, 69);
    border: 3px solid rgb(0, 0, 0);
    height: auto;
    margin-top: 2rem;
    transition: var(--transition);
}

.personalTaxes__head {
    background: rgb(53, 175, 64);
    padding: 1rem;
    border: 3px solid;
    transition: var(--transition);
}

.personalTaxes__list {
    padding: 2rem;
}

.personalTaxes__list li {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.personalTaxes:hover {
    background: rgb(4, 59, 50);
    border-color: rgb(3, 175, 143);
    border-radius: 0 0 2.2rem 2.2rem;
    box-shadow: 0 1rem 1rem rgb(13, 159, 18);
}

.personalTaxes__head:hover {
    border-radius: 0 0 2.2rem 2.2rem;
    box-shadow: 0 1rem 1rem rgb(13, 159, 18);
}

@media screen and (max-width: 600px) {
    .personalTaxes__list li{
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    .personalTaxes__list {
       padding-bottom: 0;
    }
}